<!-- Code created by Rayhan Biju 2021 -->
{% extends "base.html" %} {% block title %}Add Term {% endblock %} {% block content
%}
<br>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

  </head>

<form method="POST">
  <h3 align="center">Add Term</h3>
  <div class="form-group">
    <label for="term">Term</label>
    <input
      type="text"
      class="form-control"
      id="term"
      name="term"
      placeholder="Enter term"
    />
  </div>
  <div class="form-group">
    <label for="tv_series">Add Definition</label>
    <input
      type="text"
      class="form-control"
      id="tv_series"
      name="definition"
      placeholder="Enter definition"
    />


  </div>

    <br>



    <center><button type="submit" class="btn btn-primary">Add Term</button></center>


</form>

{% endblock %}
