<!-- Code created by Rayhan Biju 2021 -->
{% extends "base.html" %} {% block title %} View Terms and Definitions {% endblock %} {% block content
%}
<br>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

  </head>
<style>
table, th, td {
  border:1px solid black;
}
</style>

<body>

<div class = "container">

    <input class="form-control" id="searchInput" type="text" placeholder="Search Terms and Definitions...">



</div>

</body>
<h1> <center> Terms and Definitions </center></h1>
<ul class="list-group list-group-flush" id="myList">

  {% if coming_soon_titles is not none %}

  {% for data in terms %}
  <li class="list-group-item">
    {{ data }}
    <tr>




  </li>
  {% endfor %}
  {% endif %}
</ul>


</ul>

{% endblock %}

